/.idea/
/__pycache__/
/ballot-box/static/bootstrap*
/docker-compose.yml
/vote-registration/certs/*
!/vote-registration/certs/README.md
/vote-registration/settings.json
/vote-registration/static/bootstrap*
/venv/

