<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    {% if msg == "create_success" %}
        Abstimmung erzeugt (ID {{ poll_id }}).
    {% elif msg == "poll_activated" %}
        Abstimmung aktiviert (ID {{ poll_id }}).
    {% elif msg == "poll_closed" %}
        Abstimmung geschlossen: ID {{ poll_id }}.
    {% elif msg == "poll_not_prepared" %}
        Abstimmung nicht vorhanden oder bereits aktiv/beendet.
    {% elif msg == "poll_activate_error" %}
        Abstimmung konnte nicht aktiviert werden.
    {% else %}
        Unbekannter Grund.
    {% endif %}
</p>
</body>
</html>
