<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
    <script src="{{url_for('.static', filename='jquery-1.12.4.min.js')}}"></script>
    <script src="{{url_for('.static', filename='bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('.static', filename='secret-voting.js')}}"></script>
    <title>Secret Voting</title>
</head>
<body>
<div class="container pt-3">
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
    <li class="breadcrumb-item active">Overview</li>
  </ol>
</nav>
<h3>New poll</h3>
    <a href="/admin/new_poll">New poll</a>

<h3>Prepared polls</h3>
<ul>
    {% for poll in prepared_polls %}
        <li>
            [{{ poll.poll_id }}]
            {{ poll.label }}
            <a href="/admin/activate_poll/{{ poll.poll_id }}">Activate Poll</a>
        </li>
    {% endfor %}
</ul>

<h3>Active polls</h3>
<ul>
    {% for poll in active_polls %}
        <li>
            [{{ poll.poll_id }}]
            {{ poll.label }}
            <a href="/admin/close_poll/{{ poll.poll_id }}">Close Poll</a>
        </li>
    {% endfor %}
</ul>

<h3>Closed polls</h3>
<ul>
    {% for poll in closed_polls %}
        <li>
            <a href="/{{ poll.poll_id }}">
                [{{ poll.poll_id }}]
                {{ poll.label }}
            </a>
        </li>
    {% endfor %}
</ul>
</div>
</body>
</html>
