<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form name="new_poll" method="POST">
        <p>Label: <input type="text" name="label"/></p>
        <h3>Answer Options</h3>
        <p><input type="text" name="answer[]"/></p>
        <p><input type="text" name="answer[]"/></p>
        <p><input type="text" name="answer[]"/></p>
        <p><input type="text" name="answer[]"/></p>
        <p><input type="text" name="answer[]"/></p>
        <p><input type="text" name="answer[]"/></p>
        <h3>Tokens</h3>
        <textarea name="tokens"></textarea>
        <p><input type="submit" value="Create Poll"></p>
    </form>
</body>
</html>