<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
    <title>Secret Voting</title>
</head>
<body>
<div class="container pt-3">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
        </ol>
    </nav>

    {% if msg == "create_success" %}
        <div class="alert alert-success">Abstimmung erzeugt (ID {{ poll_id }}).</div>
    {% elif msg == "poll_activated" %}
        Abstimmung aktiviert (ID {{ poll_id }}).
    {% elif msg == "poll_closed" %}
        Abstimmung geschlossen: ID {{ poll_id }}.
    {% elif msg == "poll_not_prepared" %}
        Abstimmung nicht vorhanden oder bereits aktiv/beendet.
    {% elif msg == "poll_activate_error" %}
        Abstimmung konnte nicht aktiviert werden.
    {% else %}
        Unbekannter Grund.
    {% endif %}
</div>
</body>
</html>
