<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
	<link rel="icon" type="image/svg+xml" href="{{url_for('.static', filename='favicon.svg')}}">
    <title>Secret Voting</title>
</head>
<body>
<div class="container pt-3">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
        </ol>
    </nav>

    {% if msg == "create_success" %}
        <div class="alert alert-success">Abstimmung erzeugt (ID {{ poll_id }}).</div>
    {% elif msg == "poll_activated" %}
        <div class="alert alert-success">Abstimmung aktiviert (ID {{ poll_id }}).</div>
    {% elif msg == "poll_closed" %}
        <div class="alert alert-success">Abstimmung geschlossen: ID {{ poll_id }}.</div>
    {% elif msg == "poll_not_prepared" %}
        <div class="alert alert-danger">Abstimmung nicht vorhanden oder bereits aktiv/beendet.</div>
    {% elif msg == "poll_activate_error" %}
        <div class="alert alert-danger">Abstimmung konnte nicht aktiviert werden.</div>
    {% else %}
        <div class="alert alert-warning">Unbekannter Grund.</div>
    {% endif %}
</div>
</body>
</html>
