{% extends "base.html" %}
{% block content %}
        <h1>Secret Voting | {{_('Ballot Box')}}</h1>
        <h2>{{ _('Poll') }}: {{ poll.label }}</h2>
        <p>{{ _('Number of votes') }}: {{ poll.numVotes }}</p>
        <form id="vote_submit" method="POST" action="/{{ poll.poll_id }}/submit_vote">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{ _('Token') }}</span>
                </div>
                <input type="text" name="token" class="form-control" placeholder="Token" required>
            </div>
            {% set inputType = 'checkbox' if poll.numVotes > 1 else 'radio' %}
            {% for option in poll.answer_options %}
            <div class="form-check">
                <input type="{{ inputType }}" id="ai-{{ option.answer_id }}" name="answer" class="form-check-input"
                    value="{{ option.answer_id }}">
                <label class="form-check-label" for="ai-{{ option.answer_id }}">{{ option.label }}</label>
            </div>
            {% endfor %}
            <br>
            <input type="submit" class="btn btn-primary" value="Give Vote">
        </form>
{% endblock %}
