<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Poll: {{ poll.label }}</p>
    <p>Number of votes: {{ poll.numVotes }}</p>

    {% set inputType = 'checkbox' if poll.numVotes > 1 else 'radio' %}
    <form id="vote_submit" method="POST" action="/{{ poll.poll_id }}/submit_vote">
        <input type="text" name="token" value="Token">
        {% for option in poll.answer_options %}
            <input type="{{ inputType }}" name="answer" value="{{ option.answer_id }}">{{ option.label }}
        {% endfor %}
        <input type="submit" value="Give Vote">
        <span id="register_success"></span>
    </form>
</body>
</html>