<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
    <title>Secert Voting</title>
</head>
<body>
<div class="container pt-3">
<div class="alert alert-danger"><b>Error:</b> 
{% if state == "no_poll_id" %}
    URL incomplete.
{% elif state == "not_active" %}
    Voting is not active.
{% elif state == "token_invalid" %}
    Token is invalid.
{% elif state == "successful" %}
    Vote was registered.
{% elif state == "too_many_votes" %}
    Too many ticks. Vote was not registered.
{% else %}
    unknown reason
{% endif %}
</div>
<p>Poll: {{ poll_label }}</p>
</div>
</body>
</html>
