{% extends "base.html" %}
{% block content %}
        {% if state == "no_poll_id" %}
        <div class="alert alert-danger"><b>{{ _('Error') }}:</b> {{ _('URL incomplete') }}.</div>
        {% elif state == "not_active" %}
        <div class="alert alert-danger"><b>{{ _('Error') }}:</b> {{ _('Voting is not active') }}.</div>
        {% elif state == "token_invalid" %}
        <div class="alert alert-danger"><b>{{ _('Error') }}:</b> {{ _('Token is invalid') }}.</div>
        {% elif state == "successful" %}
        <div class="alert alert-success">{{_('Vote was registered')}}.</div>
        {% elif state == "too_many_votes" %}
        <div class="alert alert-danger"><b>{{ _('Error') }}:</b> {{ _('Too many ticks. Vote was not registered') }}.</div>
        {% elif state == "invalid_combination" %}
        <div class="alert alert-danger"><b>{{ _('Error') }}:</b> {{ _('Invalid combination of ticks') }}.</div>
        {% else %}
        <div class="alert alert-warning">{{ _('unknown reason') }}</div>
        {% endif %}
        <p>Poll: {{ poll_label }}</p>
{% endblock %}
