<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrator View</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="static/secret-voting.js"></script>
    <script type="text/javascript">
        const secret_voting_token = "{{ token }}";
    </script>
</head>
<body>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    {% if local_mode %}
        <p style="color:red;"><b>Warning: Local mode active!</b></p>
    {% endif %}
    <p>Server connection state: <span id="connection_state"></span></p>
    <p>Admin state: <span id="admin_state"></span></p>
    <p>Current state: <span id="state"></span></p>
    <h3>Voting Administration:</h3>
    <form id="voting_reset" method="POST" action='#'>
        <input type="submit" value="Reset">
    </form>
    <form id="voting_end" method="POST" action='#'>
        <input type="submit" value="End and generate tokens">
    </form>
    <h3>Tokens:</h3>
    <ul id="admin_output_tokens"></ul>
    <h3>Names:</h3>
    <ul id="admin_output_names"></ul>
    <h3>Complete Result:</h3>
    <textarea id="admin_output_json"></textarea>
    <h3>Registered Users:</h3>
    <ul id="list-of-users"></ul>
</body>
</html>
