<!DOCTYPE HTML>
<html>
<head>
    <title>Secret Voting</title>
    <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
    <script src="{{url_for('.static', filename='bootstrap.bundle.min.js')}}"></script>
</head>
<body>
    <div class="container pt-3">
        <h1>Secret Voting | Local Mode</h1>
        <form id="local-user" method="POST" action='/'>
        <input type="text" name="fullname" placeholder="Fullname"><br>
        <input type="text" name="userid" placeholder="UserID"><br>
        <input type="checkbox" name="is_admin"> is admin <br>
        <input type="checkbox" name="is_presenter"> is presenter<br>
        <input type="submit" value="Join with this user">
        <span id="register_success"></span>
        <input type="hidden" name="RelayState" value="{{ RelayState }}">
        </form>
    </div>
</body>
</html>
