{% extends "base.html" %}
{% block content %}
    <div class="alert alert-danger"><b>{{ _('Error') }}:</b>
        {% if msg == "not_authenticated" %}
            {{ _('SAML Login invalid') }}.
        {% elif msg == "no_voting_permissions" %}
            {{ _('No voting permissions') }}.
        {% elif msg == "no_admin_permissions" %}
            {{ _('No admin permissions') }}.
        {% elif msg == "no_presenter_permissions" %}
            {{ _('No presenter permissions') }}.
        {% else %}
            {{ _('unknown reason') }}.
        {% endif %}
    </div>
{% endblock %}
