<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
    <title>Secret Voting</title>
</head>
<body>
<div class="container pt-3">
    <div class="alert alert-danger"><b>Error:</b> 
{% if msg == "not_authenticated" %}
    SAML Login invalid.
{% elif msg == "no_voting_permissions" %}
    No voting permissions.
{% elif msg == "no_admin_permissions" %}
    No admin permissions.
{% else %}
    Unbekannter Grund.
{% endif %}
    </div>
</div>
</body>
</html>
