<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
    <script src="{{url_for('.static', filename='jquery-1.12.4.min.js')}}"></script>
    <script src="{{url_for('.static', filename='socket.io.js')}}"></script>
    <script src="{{url_for('.static', filename='bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('.static', filename='secret-voting.js')}}"></script>
    <script type="text/javascript">
        const secret_voting_token = "{{ token }}";
        window.history.pushState(null, null, "/presenter");
    </script>
    <title>Presenter Vote Registration / Secret Voting</title>
</head>
<body>
    <div class="container pt-3">
        <h1>Secret Voting | Vote Registration</h1>
        {% if local_mode %}
            <div class="alert alert-danger"><b>Warning:</b> Local mode active!</div>
        {% endif %}
        <div class="row">
            <div class="col-6">
                <h3>Registered Users: <span id="num_of_users" class="badge badge-info">0</span></h3>
                <ul id="list_of_users"></ul>
            </div>
        </div>
        <div class="row pt-3 text-right">
            <hr><br>
            <p class="text-muted small">
                Async mode is: <b>{{ async_mode }}</b> |
                Server connection state: <b id="connection_state"></b> |
                Admin state: <b id="admin_state"></b> |
                Current state: <b id="state"></b>
            </p>
        </div>
    </div>
</body>
</html>